
@media (max-width: 950px){
    html,
    body{
        font-size: 24px !important;
    }
    footer {
        font-size: 8px;
        gap: 3%;
        padding: 1%;
        
    }
    .footer {
        gap: 10%;
        font-size: 14px !important;
      }
   
  
.cta-form input{
    width: 80% !important;
    padding: 15px !important;
    font-size: 20px !important;
    font-family: inherit;
}
.inputs{
    gap: 10% !important;
}
.cta-form label{
    display: block;
    font-weight: 500;
    font-size: 20px !important;
}
.navigation-header{
    overflow-y: hidden !important;
  }

}
@media (max-width: 700px) and (min-width: 200px){
/* MOBILE NAV */
 .btn-mobile-nav{
    display: block !important;
  } 
  .navigation-header{
      background-color: rgba(253, 241, 232, 0.97);
      padding-bottom: 13%;
      position: absolute;
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      transition: all 1s ease-in-out;
      /* Make it come from the right */
      transform: translateX(100%);
      /* Hide it visually */
      opacity: 0;
      /* Make it unaccessible with mouse and keybord */
      pointer-events: none;
      /* Hide from screen readers */
      visibility: hidden;
  }
  .navigation-header ul{
      flex-direction: column;
      font-size: 1rem;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.0);
  }
  .navigation-header a {
    color: #222;
    text-decoration: none;
  }
  .nav-open .navigation-header{
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);

  }
  .nav-open .icon-mobile-nav[name=close-outline]{
    display: block;
}
.nav-open .icon-mobile-nav[name=menu-outline]{
    display: none;
}
   .navigation-header ul{
        gap: 2%;
    }
    .signup{
    padding: 1% !important;

    }
    /* .login{
        padding: 1% !important;
    }  */
    .footer{
        gap: 5%;
        flex-direction: column;   
    }
    form{
        margin-left: 1% !important;

    }
    .cta-form input{
        width: 80% !important;
        padding: 15px !important;
        font-size: 15px !important;
        font-family: inherit;
    }
    .inputs{
        gap: 10% !important;
    }
    .cta-form label{
        display: block;
        font-weight: 500;
        font-size: 16px !important;
    }
    .heading{
        margin: 2% 15% !important;
    }
    p{
    margin-left: 5% !important;
    }
    .footer-icons{
        gap: 10%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}
@media (max-width: 399px) and (min-width: 200px){
    .heading h3,h2{
        margin: 1%;
        font-size: 15px;
    }
    footer{
        max-width: 100%;
        font-size: 8px;
    }
    .footer{
        flex-direction: column;
        gap: 3%;
    }
    
}

*:focus{
    outline: none;
    box-shadow: 0 0 0 5px rgba(153, 153, 153, 0.5);
}
html{
    overflow-x: hidden;

}
body{
    position: relative;
    overflow-x: hidden;
   font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #111;
}
/* MOBILE */
.btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}
.icon-mobile-nav{
    height: 48px;
    width: 48px;
    color: #333;
}
.icon-mobile-nav[name=close-outline]{
    display: none;
}
form{
    margin-left: 6%;
}
.inputs{
    display: flex;
    gap: 15%;
}
input{
    border: none;
    padding: 8% 40%;
    margin-bottom: 8%;
    background-color: #fdf2e9;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10);
}
.cta-form input::placeholder{
    color: #aaa;
}
#message{
    padding-top: 4%;
    padding-bottom: 100%;
    padding-right: 250%;
    border-bottom-right-radius: 100px;
}
.cta-form label{
    color: #555;
    display: block;
    font-weight: 500;
    margin-bottom: 12px;
}
.cta-form input{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-family: inherit;
}
/* .header{
    position: absolute  ;
} */
.heading{
    margin: 2% 25%;

}
p{
    margin-left: 20%;
    margin-bottom: 2%;
    font-size: 16px;
}
h3{
    margin-bottom: 5%;
    font-size: 24px;
    text-transform: uppercase;
}
button{
  background-color: #2f74b3;
  color: #fff;
  border-style: none;
  padding: 2% 5%;
  margin: 5%;
  border-radius: 9px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  font-family: inherit;
}
.btn:hover{
    background-color: #2f73b392;
    color: #fdf2e9;

}